* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: gotham-bold;
    src: url(../font/gotham-bold.otf);
}

@font-face {
    font-family: gotham-black;
    src: url(../font/gotham-black.otf);
}

@font-face {
    font-family: gotham-regular;
    src: url(../font/gotham-regular.otf);
}

.gridContenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.encabezado {
    grid-area: header;
}

.contenido {
    grid-area: main;
    background-color: rgb(255, 255, 255);
}

.pie {
    grid-area: footer;
}


/*!----- HEADER----- */
header {
    width: 100%;
    background-color: #fdfdfdd2;
    height: 100%;
}

header img {
    width: 90px;
    height: 90px;
}

.container-fluid {
    background-color: #f0eeee;
}

nav .navbar.navbar-expand-lg-navbar-light-bg-light {
    padding: 0;
}

.collapse.navbar-collapse .nav-link.active {
    font-size: small;
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    transition: 1s ease-out;
}

.collapse.navbar-collapse .nav-link.active:hover {
    color: #0d24f1;
}

/*!----- MAIN INDEX----- */

.hero {
    width: 100%;
    height: 470px;
    background: rgb(15, 11, 243);
    background: linear-gradient(66deg, rgb(33, 19, 228) 45%, rgb(119, 7, 13) 56%);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hero div {
    font-family: gotham-black, sans-serif;
    padding: 10px;
    margin: 20px;

}

.hero div h1 {
    color: #ffffff;
    font-size: 45px;
    margin-left: 15px;

}

.hero div h2 {
    color: rgb(207, 207, 207);
    font-size: 25px;
    margin-left: 15px;
}

div .imgHero {
    width: 430px;
    height: 380px;
    transition: .5s ease-in;
}

div .imgHero:hover {
    transform: scale(1.2);
}

.gridContainerGaleria {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 120px 120px;
    gap: 15px;
    padding: 5px;
    margin: 10px;
}

.gridContainerGaleria div img {
    height: 75%;
    width: 80%;
    padding: 5px;
    background-size: cover;

}

.gridContainerGaleria div {
    position: relative;
    text-align: center;
}

.gridContainerGaleria div h3 {
    position: absolute;
    bottom: 0;
    font-size: 25px;
    width: 100%;
    background-color: #ffffff;
}

.gridItem {
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    border: 2px solid rgba(0, 0, 0, 0.445);
}

.registrate {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    text-align: center;
}

.registrate  .registrateContenedor h2 {
    width: 100%;
    color: rgb(15, 15, 15);
    font-size: 35px;
    font-family: gotham-black, sans-serif;
    text-align: center;
    margin-bottom: 35px;
}

.registrate  .registrateContenedor span {
    color: #011af8;
}

.registrate  .registrateContenedor p {
    font-size: 20px;
    font-family: gotham-bold, sans-serif;
    margin-bottom: 20px;
}

.registrate .registrateContenedor a {
    width: 60%;
    color: rgb(248, 248, 248);
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    text-decoration: none;
    background-color: #17179c;
    padding: 8px;
}

.productos {
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    background-image: url(../img/groovepaper.png)
}

.productos .productosItems {
    width: 100%;
}

.productos .productosItems h2 {
    font-size: 35px;
    font-family: gotham-black, sans-serif;
    color: #da1c1c;
    text-align: center;
    padding: 20px;
}

.productos .productosItems ul li {
    font-size: medium;
    font-family: gotham-bold, sans-serif;
    font-weight: 200;
    padding: 10px;
}

.productos .productosImg img {
    width: 450px;
    height: 400px;
}

.conocenos {
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 30px;
}
.conocenos .conocenosHistoria {
    width: 100%;
}
.conocenos .conocenosHistoria h2 {
    font-size: 35px;
    font-family: gotham-black, sans-serif;
    color: #aa3a3a;
    text-align: center;
    padding: 10px;
}

.conocenos .conocenosHistoria h3 {
    font-family: gotham-black, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #1b19a0;
    padding: 15px;
}

.conocenos .conocenosHistoria p {
    font-family: gotham-bold, sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}



.conocenos .conocenosImg img{
    width: 300px;
    height: 300px;
    padding: 5px;
}

/*!-- MAIN REGISTRATE-- */
.heroRegistrate {
    width: 100%;
    height: 400px;
    background: rgb(61, 61, 122);
    background: linear-gradient(66deg, rgb(201, 28, 28) 45%, rgb(14, 7, 119) 56%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
}

.heroRegistrate .registrateTexto h1 {
    font-family: gotham-black, sans-serif;
    color: #f0eff3;
    font-size: 45px;
}

.heroRegistrate .registrateTexto h2 {
    font-family: gotham-bold, sans-serif;
    color: rgb(242, 241, 245);
    font-size: 25px;
}

.heroRegistrate .registrateTexto p {
    font-family: gotham-bold, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.heroRegistrate img {
    width: 330px;
    height: 350px;
}

.formulario {
    width: 900px;
    padding: 10px;
    background-color: #d6170a;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: gotham-bold, sans-serif;
    color: black;
    box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
    -webkit-box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
    -moz-box-shadow: 4px 7px 9px 0px rgba(115, 115, 115, 0.75);
}

.formulario h3 {
    font-family: gotham-black, sans-serif;
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    margin-bottom: 20px;
}

.formulario h4 {
    font-family: gotham-black, sans-serif;
    font-size: 17px;
}

.formulario label {
    font-size: 15px;
}

.item {
    width: 100%;
    background-color: #e8e7ec;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #1e1e1f;
    font-family: gotham-bold, sans-serif;
    font-size: 18px;
}

.boton {
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boton:hover {
    color: #120fa7;
}

.boton span {
    position: absolute;
    background-color: #0b009e;
    transition: 1s;
}

.boton span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

.boton span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

.boton span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.boton span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.boton:hover span:nth-child(1) {
    left: 0;
}

.boton:hover span:nth-child(2) {
    right: 0;
}

.boton:hover span:nth-child(3) {
    bottom: 0;
}

.boton:hover span:nth-child(4) {
    top: 0;
}

/*!--MAIN PRODUCTOS-- */
.heroProductos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(15, 15, 15);
    background: linear-gradient(66deg, rgb(25, 45, 158) 45%, rgb(161, 10, 10) 56%);
}

.heroProductos .encabezadoProductos h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 45px;
    padding-left: 100px;
    padding-top: 10px;
}

.especialidadesProductos h2 {
    font-family: gotham-black, sans-serif;
    font-size: 40px;
    color: #0c18c2;
    background-color: #f01010;
    text-align: center;
    margin-top: 10px;
}

.gridContainerProductoGaleria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 250px 250px 250px;
    align-content: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin: 10px;
}

.gridContainerProductoGaleria div img {
    height: 75%;
    width: 50%;
    padding: 5px;
    transition: all 500ms ease-out;

}

.gridContainerProductoGaleria div {
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.gridContainerProductoGaleria div .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.gridContainerProductoGaleria div:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.gridContainerProductoGaleria div:hover>img {
    transform: scale(1.1);
}

.gridContainerProductoGaleria div:hover>.capa h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
}

.gridContainerProductoGaleria div .capa h4 {
    color: white;
    font-family: gotham-black, sans-serif;
    transition: all 500ms ease-out;
    margin-top: 20px;
}

.gridContainerProductoGaleria div .capa p {
    color: white;
    font-size: 15px;
    font-family: gotham-bold, sans-serif;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

.gridContainerProductoGaleria div h3 {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    width: 100%;
    height: 17px;
    color: white;
    background: rgba(0, 0, 0, 0.863);

}

.gridItemProducto {
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    border: 2px solid black;
}

/*!-----QUIENES SOMOS----- */
.heroQuienesSomos .encabezadoQuienesSomos {
    background: rgb(211, 5, 5);
    background: linear-gradient(66deg, rgb(5, 17, 194) 45%, rgb(112, 1, 1) 56%);
    height: 50px;
}

.heroQuienesSomos .encabezadoQuienesSomos h1 {
    font-family: gotham-black, sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}

.empresaFamiliar {
    border: 2px solid #000000;
    background-color: #e8e5eb;
    margin-top: 20px;
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.mision {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mision .misionDiv {
    width: 700px;
    margin-right: 50px;
}

.mision .misionDiv h2 {
    font-family: gotham-black, sans-serif;
    font-size: 35px;
    color: #af1414;
}

.mision .misionDiv p {
    font-family: gotham-bold, sans-serif;
}

.mision .misionImg img {
    width: 250px;
    height: 300px;
}

.vision {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.vision .visionDiv {
    width: 700px;
    margin-right: 50px;
}

.vision .visionDiv h2 {
    font-family: gotham-black, sans-serif;
    font-size: 35px;
    color: #0f129b;
}

.vision .visionDiv p {
    font-family: gotham-bold, sans-serif;
}

.vision .visionImg img {
    width: 250px;
    height: 300px;
    padding-right: 30px;
}

.historia {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.historia .nuestraHistoria {
    width: 700px;
    margin-right: 50px;
}

.historia .nuestraHistoria h2 {
    font-family: gotham-black, sans-serif;
    font-size: 35px;
    color: #bb1c1c;
}

.historia .nuestraHistoria p {
    font-family: gotham-bold, sans-serif;
}

.historia .nuestraHistoriaImg img {
    width: 350px;
    height: 250px;
}

/*!--MAIN CONTACTO-- */
.contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.heroContacto .heroTitulo {
    background: rgb(58, 60, 170);
    background: linear-gradient(66deg, rgb(38, 29, 165) 45%, rgb(173, 20, 20) 56%);
    height: 50px;
}

.heroContacto .heroTitulo h1 {
    font-family: gotham-black, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.contacto h3 {
    font-family: gotham-black, sans-serif;
    font-size: 17px;
}

.mapaContacto {
    width: 500px;
    padding-right: 10px;
}

.mapaContacto h1 {
    font-family: gotham-black, sans-serif;
    font-size: 30px;
    color: #000000;
}

.mapaContacto p {
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
}

.numeros ul li {
    width: 90px;
    list-style: none;
    text-align: center;
    background-color: #c9c5cc;
    color: black;
    border-radius: 4px;
}

.formularioContacto {
    width: 500px;
    padding: 30px;
    background-color: #c9c5cc;
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    color: black;
    box-shadow: 4px 7px 9px 0px rgba(240, 9, 9, 0.75);
    -webkit-box-shadow: 4px 7px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 7px 9px 0px rgba(14, 13, 13, 0.75);
}

.control {
    width: 100%;
    background-color: #c9c5cc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #050505;
}
.formularioContacto h3{
    text-align: center;
}
.formularioContacto .boton {
    width: 100%;
    background-color: rgba(16, 33, 190, 0.884);
    color: black;
    font-family: gotham-regular, sans-serif;
    font-weight: 300;
    font-size: 15px;
    border: none;
    padding: 10px;
    margin: 12px 0;
}

/*!----- FOOTER-----*/

.footerCaja {
    height: 100px;
    font-family: gotham-bold, sans-serif;
    font-size: 16px;
    background-color: #f0eeee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footerH {
    order: 2;
    text-align: center;
}

.footerCaja h2,
h3 {
    font-size: 16px;
}

.footerA {
    order: 1;

}

.footerA a {
    text-decoration: none;
    color: black;
}
.footerA a img {
    width: 80px;
    height: 80px;
}
.footerRedes {
    order: 3;
    text-align: center;
}

footer img {
    width: 70px;
    height: 70px;
}

footer a img {
    width: 50px;
    height: 50px;
}

/*!-- INDEX---- MEDIA QUERIE--*/
@media screen and (max-width:1024px) {
.gridContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;
}
.hero {
    width: 100%;
    height: 400px;
} 

.hero div h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 35px;
}

.hero div h2 {
    font-family: gotham-black, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 25px;
}

div .imgHero{
    height: 320px;
    width: 280px;
}
div .imgHero:hover {
    transform: none;
}
.registrate {
    height: 300px;
}
.boton{
    height: 45px;
    padding: 10px;
    margin: 5px;
}
.registrateContenedor {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 110px 110px;
    gap: 10px;
}

.registrateContenedor div img {
    height: 70%;
    width: 75%;
    padding: 5px;
}
.registrateContenedor div h3 {
    font-size: 10px;
}
.productos {
    height: 350px;
}

.productos .productosItems h2 {
    font-size: 25px;
}

.productos .productosItems ul li {
    font-size: 18px;
    padding: 5px;
}

.productos .productosItems img {
    width: 290px;
    height: 300px;
}
.conocenos {
    height: 350px;
}

.conocenos .conocenosHistoria h2 {
    font-size: 25px;
}

.conocenos .conocenosHistoria p {
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.footerCaja {
    font-size: 5px;
}

.conocenos .conocenosImg {
    width: 290px;
    height: 300px;
}

.conocenos .conocenosImg img {
    width: 290px;
    height: 300px;
    padding: 5px;
}
}

@media screen and (max-width:768px) {
    header img {
        width: 110px;
        height: 70px;
    }
.gridContenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px auto 100px;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}
.hero {
    width: 100%;
    height: 300px;
    flex-direction: column;
} 

.hero div h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
}

.hero div h2 {
    font-family: gotham-black, sans-serif;
    color: rgb(207, 207, 207);
    font-size: 20px;
}
.imgHero{
    display: none;
}
.gridContainerGaleria {
    display: none;
}
.registrate {
    height: 250px;
    justify-content: center;
    align-items: center;
}

.registrate .registrateContenedor {
    height: 250px;
    margin-top: 10px;
    padding: 15px;
}

.registrate .registrateContenedor h2 {
    width: 80%;
    font-size: 20px;
    margin-bottom: 10px;
}
.registrate .registrateContenedor p{
    font-size: 15px;
    margin-bottom: 10px;
}
.boton{
    height: 40px;
    padding: 10px;
    margin: 5px;
}
.registrate .registrateContenedor a{
    height: 25px;
    font-size: 12px;
    padding: 5px 5px 5px;
}
.productos {
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.productos .productosItems h2 {
    font-size: 20px;
}

.productos .productosItems ul li {
    font-size: 15px;
    padding: 5px;
}

.productos .productosImg img {
    width: 280px;
    height: 290px;
}
.conocenos {
    height: 500px;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.conocenos .conocenosHistoria h2 {
    font-size: 20px;
}

.conocenos .conocenosHistoria h3{
    font-size: 18px;
}

.conocenos .conocenosHistoria p {
    font-family: gotham-bold, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.conocenos .conocenosImg {
    width: 290px;
    height: 300px;
}

.conocenos .conocenosImg img {
    width: 280px;
    height: 280px;
    padding: 5px;
}

.footerCaja h2,h3 {
    font-size: 15px;
}

.footerCaja {
    width: 100%;
    height: 110px;
    font-size: small;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 25px;
    height: 25px;
}

footer a img {
    width: 20px;
    height: 20px;
}
}

@media screen and (max-width:480px){
.gridContenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto 100px;
    }
header img {
        width: 100px;
        height: 60px;
    }
.hero {
    width: 100%;
    height: 270px;
} 

.hero div h1 {
    font-family: gotham-black, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
}

.hero div h2 {
    font-size: 20px;
}

.especialidades {
    height: 200px;
}

.registrate .registrateContenedor {
    height: 200px;
    margin-top: 10px;
    padding: 15px;
}

.registrate .registrateContenedor h2 {
    width: 80%;
    font-size: 20px;
    margin-bottom: 10px;
}
.registrate .registrateContenedor p{
    font-size: 12px;
    margin-bottom: 10px;
}
.boton{
    height: 30px;
    padding: 2px;
    margin: 5px;
}
.registrate .registrateContenedor a{
    height: 28px;
    font-size: 10px;
}
.productos {
    height: 500px;
    margin: 5px;
    justify-content: center;
}

.productos .productosItems h2 {
    font-size: 20px;
}

.productos .productosItems ul li {
    font-size: 12px;
    padding: 5px;
}

.productos .productosImg img {
    width: 260px;
    height: 260px;
}
.conocenos {
    width: 100%;
    height: 500px;
}

.conocenos .conocenosHistoria h2 {
    font-size: 20px;
}

.conocenos .conocenosHistoria h3{
    font-size: 15px;
}

.conocenos .conocenosHistoria p {
    font-size: 12px;
    margin-bottom: 5px;
}

.conocenos .conocenosImg {
    width: 260px;
    height: 260px;
}

.conocenos .conocenosImg img {
    width: 260px;
    height: 260px;
    padding: 5px;
}

.footerCaja h2,h3 {
    font-size: 13px;
}

.footerCaja {
    width: 100%;
    height: 110px;
    font-size: small;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 20px;
    height: 20px;
}

footer a img {
    width: 20px;
    height: 20px;
}
}


/*!REGISTRATE -- MEDIA QUERIE--*/
@media screen and (max-width:1024px) {
    .heroRegistrate {
        height: 400px;
    }
    .heroRegistrate .registrateTexto h1 {
        font-size: 35px;
    }
    
    .heroRegistrate .registrateTexto h2 {
        font-size: 25px;
    }
    
    .heroRegistrate .registrateTexto p {
        font-size: 15px;
    }
    
    .heroRegistrate img {
        width: 290px;
        height: 280px;
    } 
    .formulario {
        width: 800px;
        font-size: 15px;
    }
    .formulario h3 {
        font-size: 20px;
    }

    .formulario h4 {
        font-size: 18px;
    }

    .formulario label {
        font-size: 15px;
    }
    .boton{
        font-size: 15px;
    }
}
@media screen and (max-width:768px) {
    .heroRegistrate {
        height: 200px;
        padding: 2px;
        flex-direction: column;
        text-align: center;
    }
    .heroRegistrate .registrateTexto h1 {
        padding-top: 10px;
        font-size: 30px;
    }
    
    .heroRegistrate .registrateTexto h2 {
        font-size: 20px;
    }
    
    .heroRegistrate .registrateTexto p {
        font-size: 14px;
    }
    
    .heroRegistrate img {
    display: none;
    } 
    .formulario {
        width: 600px;
        font-size: 13px;
    }
    .formulario h3 {
        font-size: 18px;
    }

    .formulario h4 {
        font-size: 15px;
    }

    .formulario label {
        font-size: 15px;
    }
    .item{
        height: 35px;
        font-size: 14px;
    }
    .boton{
        font-size: 13px;
    }
}
@media screen and (max-width:480px){
    .heroRegistrate {
        height: 190px;
        margin-top: 10px;
    }
    .heroRegistrate .registrateTexto h1 {
        font-size: 25px;
    }
    
    .heroRegistrate .registrateTexto h2 {
        font-size: 20px;
    }
    
    .heroRegistrate .registrateTexto p {
        font-size: 12px;
    }

    .formulario {
        width: 350px;
        font-size: 12px;
    }
    .formulario h3 {
        font-size: 15px;
    }

    .formulario h4 {
        font-size: 13px;
    }

    .formulario label {
        font-size: 13px;
    }
    .item{
        height: 30px;
        font-size: 12px;
    }
    .boton{
        font-size: 12px;
    }
}